@{
    Layout = "~/_Layout.cshtml";
    Page.Title = "Home";

    var db = Database.Open("MegaEscritorioDB");
    var selectCommand = "SELECT * FROM deskDetails";
    var searchTerm = "";

    if (!Request.QueryString["search"].IsEmpty())
    {
        selectCommand = "SELECT * FROM deskDetails WHERE firstname LIKE @0 or lastname LIKE @0";
        searchTerm = "%" + Request["search"] + "%";
    }

    var selectedData = db.Query(selectCommand, searchTerm);
    var grid = new WebGrid(source: selectedData, defaultSort: "lastname", rowsPerPage: 25);
}


<h2>Home</h2>
<div>

    <form method="get">
        <div>
            <label for="search"></label>
            <input type="text" name="search" value="@Request.QueryString["search"]" />
            <input type="Submit" value="Search" /><br />
        </div>
    </form>
</div>
<div>

    @grid.GetHtml(
                    tableStyle: "grid",
                    headerStyle: "head",
                    alternatingRowStyle: "alt",
                    mode: WebGridPagerModes.Numeric,
                    columns: grid.Columns(
                            grid.Column(format: @<a href="~/pages/editDesk.cshtml">Edit</a>, style: "edit"),
                            grid.Column("firstname", "First Name", style: "firstname"),
                            grid.Column("lastname", "Last Name", style: "lastname"),
                            grid.Column("surfaceArea", "Surface Area", style: "surfaceArea"),
                            grid.Column("drawers", "Drawers", style: "drawers"),
                            grid.Column("material", "Surface Material", style: "material"),
                            grid.Column("rushOrderDays", "Rush Order Days", style: "days"),
                            grid.Column("finalPrice", "Total", style: "finalPrice"),
                            grid.Column("dateCreated", "Date Created", format: @<text>@item.DateAdded.ToString("MMM dd yyyy")</text>, style: "date"),
                            grid.Column(format: @<a href="~/pages/deleteDesk.cshtml">Delete</a>, style: "delete")
                    )
           )
</div>